<% provide(:title, 'Contact') %>
<div class="container">
<h1>Contact</h1>
<p>
		XXX Our Office Rd
	<br>Fredericksburg, Va 22408<br>
	
   <br><a href="http://www.metarepublic.com">Metarepublic</a><br>
</p>
</div>
