    <%= render 'layouts/jumbotron' %>
<div class="container">
          <div class="row">
            <div class="col-md-4">
						<div class="jonesbottomspacer">
   					<a href="http://rubyonrails.org/">
							<%= image_tag("technology_head.jpg", alt:"Space", class: "img-responsive img-circle")%>
						</a>
              <h3 class="text-center">Type 1</h3>
              <p>Of course, the views in Listing 3.23, Listing 3.24, and Listing 3.25 are still filled with all the HTML structure included in the layout, so we have to remove it, leaving only the interior contents. The resulting cleaned-up views appear in Listing 3.27, Listing 3.28, and Listing 3.29.</p>
              <a href="#" class="btn btn-success">Book Now @ $599</a>
            </div>
 						</div>
            <div class="col-md-4">
						<div class="jonesbottomspacer">
   					<a href="http://rubyonrails.org/">
							<%= image_tag("space_deep.jpg", alt:"Space", class: "img-responsive img-circle")%>
						</a>
              <h3 class="text-center">Type 2</h3>
              <p>Of course, the views in Listing 3.23, Listing 3.24, and Listing 3.25 are still filled with all the HTML structure included in the layout, so we have to remove it, leaving only the interior contents. The resulting cleaned-up views appear in Listing 3.27, Listing 3.28, and Listing 3.29.</p>
              <a href="#" class="btn btn-danger">Book Now @ $899</a>
            </div>
            </div>
            <div class="col-md-4">
						<div class="jonesbottomspacer">
   					<a href="http://rubyonrails.org/">
							<%= image_tag("technology_head.jpg", alt:"Space", class: "img-responsive img-circle")%>
						</a>
              <h3 class="text-center">Type 3</h3>
              <p>Of course, the views in Listing 3.23, Listing 3.24, and Listing 3.25 are still filled with all the HTML structure included in the layout, so we have to remove it, leaving only the interior contents. The resulting cleaned-up views appear in Listing 3.27, Listing 3.28, and Listing 3.29.</p>
              <a href="#" class="btn btn-info">Book Now @ $699</a>
            </div>
            </div>
          </div>
        </div>

<div class="social">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="Eudora">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div class="social2">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="https://infinite-dawn-8965.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
</div>
</div>

