<div class="center eudora-hero-unit">

  <h1>Eudora</h1>

  <h2>
		The awesome app from 
    <a href="http://metamojo-inc.com">Metamojo-inc.</a>		
   
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>


</div>
<div class="railslogo">
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
</div>
<container-pull-right>
<div class="social">
<a href="https://twitter.com/share" class="twitter-share-button" data-via="Eudora">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div class="social2">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-href="https://infinite-dawn-8965.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
</div>
</container>
