<% provide(:title, @blog.title) %>
<ul class="users">
 <p id="notice"><%= notice %></p>

 <%= render @blog %>

 <%= link_to 'Edit', edit_blog_path(@blog) %> |
 <%= link_to 'Back', blogs_path %>

</ul>
