@import "bootstrap";
$grayLighter: #999;

/* Users index */
.jumbotron{
	/*adding here*/
	background-image: url("header_orange.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	/*end */
}

body{
	margin-top: 60px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

.navbar-brand{
  float: left;
  padding: 15px 15px;
  font-size: 25px;
  line-height: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.jonestitle{
	text-align:center;
}

.jonestopspacer{
	margin-top: 20px;
}

.jonesbottomspacer{
	margin-bottom: 20px;
}

.centered{
    margin: 0 auto;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.bloglogo{
	height:52px;
	width:52px;
}

.blogbody {
		margin-top:10px;
		padding-right:27px;
	  font-size: 18.5px; 

}

.blogs {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

@media(max-width:767px)
				{.blogbody{font-size: 100%;}}
@media(min-width:768px){.blogbody{font-size: 110%;}}
@media(min-width:992px){.blogbody{font-size: 120%;}}
@media(min-width:1200px){.blogbody{font-size: 130%;}}


 
