<footer>
        <div class="container">
        <div class="row">
          <div class="col-md-4">&copy; 2013</div>
          <div class="col-md-4">
            <ul class="nav nav-pills">
      				<li><%= link_to "About",   about_path %></li>
       				<li><%= link_to "Contact", contact_path %></li>
      				<li><%= link_to "Blog", "http://metarepublic.wordpress.com" %></li>
      				<li><a href="http://news.railstutorial.org/">News</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3 class="text-right">EUDORA</h3>
          </div>
        </div>
        </div>
      </footer>
